
* {
    margin: 0;
}

body {

    font-family: Montserrat;

    background: rgb(107, 102, 193);
    background: linear-gradient(0deg, rgba(107, 102, 193, 1) 0%, rgba(130, 234, 255, 1) 71%);

}

div>h3 {

    color: rgb(17, 13, 82);
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid rgb(107, 102, 193);
    border-radius: 20px;


}

div>h4 {
    color: white;
    font-size: 1.2rem;

    background-color: rgb(17, 13, 82);
    text-align: center;
    padding: 4px;
    border: 2px solid rgb(17, 13, 82);
}

#name_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#Admin_Login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

#form_container {
    margin-top: 5rem;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#form {
    width: 30em;
    display: flex;
    flex-direction: column;
}

#form>input {
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    height: 3em;
    font-size: 1em;
    outline: none;
    padding: 10px;
}

#form>label {
    margin-top: 15px;
    margin-left: 10px;
}

input:focus {
    background-color: rgb(118, 116, 161);
    color: white;
}

.btn {

    margin-top: 30px;
    justify-content: center;
    align-self: center;
    width: 40%;
    border-radius: 3px;
    background-color: rgb(17, 13, 82);
    color: white;
    cursor: pointer;
}

#login_btn:hover {
    background-color: rgb(118, 116, 161);
}
#return{
    position: fixed;
    top: 20px;
    right: 20px;
}
@media only screen and (max-width:450px) {
    div>h3 {

        color: rgb(17, 13, 82);
        font-weight: bolder;
        font-size: 1.5rem;
        text-align: center;
    }
    #form_container {
        margin-top: 1rem;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

}