body{ 
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .allButFooter{ 
    min-height:50px;
  }
  a{
      color: #333;
  }
  .page-heading{
      margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #074e8c;
    font-weight: bolder;
  }
  a:hover{
      text-decoration: none;
      color: #333;
  }
  .pr-card-parent:nth-child(2n+1)
  {
      background-color: #f5f5f5;
  }
  .pr-card-parent
  {
      padding: 20px 0;
      margin-bottom: 20px;
  }
  .pr-card-heading
  {
      display: block;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 10px;
      margin-top: 15px;
  }
  .pr-card-image
  {
      width: 100%;
      height: auto;
      transition: all 0.1s;
  }
  .pr-card-image:hover
  {
      transform: scale(1.005);
  }
  .col-lg-4 > img
  {
      border: none;
      border-radius: 5px;
  }
  .pr-card-content
  {
    font-size: 15px;
    text-align: justify;
  }
  .pr-card-date
  {
      color: #ff5e6c;
  }
  .pr-date-part
  {
      margin-bottom: 10px;
  }
  .fa-calendar-alt
  {
      margin-right: 5px;
  }
  @media only screen and (max-width: 991px)
  {
    .pr-card-image
    {
        width: 60%;
        height: auto;
    }
    .pr-card-image-container
    {
        text-align: center;
    }
  }
  @media only screen and (max-width: 768px)
  {
      .container{
        max-width: 100%;
      }
  }
  @media only screen and (max-width: 575px)
  {
    .pr-card-image
    {
        width: 80%;
        height: auto;
    }
  }