.form-control
{
    border-radius: 15px;
    background-color: #d6d6dde3;
}
.btn-success
{
    width: 100%;
    border-radius: 15px;
}
.contact-us
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-form
{
    margin-bottom: 30px;
}
h3{
    text-align: center;
    color: #074e8c;
    margin-bottom: 15px;
}