*{
  color: #2F1728;
}
p{
  margin-bottom: 0px;
}
body{
    font-family: Montserrat;
}
.nav-menu
{
    background-color:#eee;
}
.navbar{  
    width: 100%;
    margin: 0 auto;
}
.navbar-light .navbar-nav .nav-item
{
  border-radius: 5px;
  margin-right: 5px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  color: #2C2C32;; 
}
.navbar-light .navbar-nav .nav-item:hover {
  background-color:#ff5e6c;
}
.navbar-light .navbar-nav .nav-item:hover .nav-link {
  color: #f5f5f7;
}
.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
  background-color: #ff5e6c ;
}
.navbar-light .navbar-nav .active .nav-link {
  color:#ff5e6c ;
}
.navbar-collapse a
{
    font-size: 0.9em;
}
.navbar-brand img{
  width: 200px;
}
.dropdown-menu{
    border-style: none;
    background-color: #f2f2f2;
    top: 167%;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-inner {
	width: 100%;
	display: inline-block;
	position: relative;
}
.carousel-inner {
	padding-top: 43.25%;
	display: block;
	content: "";
}
.carousel-item {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: skyblue;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel-control-prev-icon,.carousel-control-next-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#lab_social_icon_footer {
    padding: 10px 0;
    background-color:#3b3b3b;
  }
  

  
  #lab_social_icon_footer .social:hover {
      transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
      transform: scale(0.8);
    transition-duration: 0.5s;
    color:#eee;
  }
  /*
      Multicoloured Hover Variations
  */
  
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  
  #lab_social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }

  .container>p{
      text-align: center;
      font-size: 0.8em;
      color:#eee;
  }
  .footer-links,.footer-contact p
  {
    font-size: 0.8em;
    color:#eee;
  }
 .footer_part h5{
    font-weight: 600;
    font-size: 18px;
    color:#eee;
  }
  .footer-links ul{
    list-style: none;
    padding: 0;
  }
  .footer-links ul a{
    color:#eee;
  }
  .footer-links li:hover a{
    color: #ff5e6c;
    text-decoration: none;
  }
  p>strong
  {
    color:#eee;
  }
  .footer_part
  {
    margin-bottom: 20px;
  }

  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 30px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7f7f7;
}

.section-title {
  text-align: center;
  padding-bottom: 10px;

}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative; 
  color: #2F1728;
}
.aboutCon{
  padding-right: 30px;
  padding-left: 30px;
}
/* .aboutCon p{
  letter-spacing: 0.1em;
} */

.section-title p {
  margin-bottom: 0;
}
.build_photo{
  text-align: center;
}

.col-lg-5>img{

  border: 2px solid rgb(25, 121, 177);
  border-radius: 10px;
}
.Dynamic_part
{

  padding: 30px 0px;
}
.press_rel{
  margin-bottom: 30px;
  
}

.myTicker{
  
  border-radius: 10px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
}
/* .press-head{

} */
.myTicker ul{
  padding: 0;
  min-height: auto;
}
.myTicker li{
padding: 5px;
min-height: 200px;
}
.press_content{
  display: flex;
}
li>h6{
  padding: 5px;
  font-weight: 1000;
}
li>h6>a{
  text-decoration: none;
  color: #000000; 
}
li>h6>a:hover{
  text-decoration: none;
  color: #414040;  
}
.press_content> .image-div
{
  text-align: center;
  width: 30%;
  margin-right: 10px;
  background-image: url('assets/images/chamber-logo-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #eee;

}
.press_content> .image-div>img
{
  border-radius: 5px;
  width: 100%;
  height: 100%;

}
.press_content>.date_with_cont
{
  width: 70%;
}
.press_content>.date_with_cont>p
{
  font-size: 0.8em;
}
.et-run{
  background:balck;
}
.et-item-visible{
  color: black !important;
}
.press-head, .upcoming-head,.Downloads-head{

  padding: 10px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  color: #2F1728;
  background: linear-gradient(to top, #fff, #eee);;


}
.list-group-item
{
  font-size: 0.85em;
  color:#2F1728 ;
  background-color: transparent;
  transition: linear background-color 0.5s;
  padding: 8px 15px;
  border-style: none;
 
}
.list-group-item:hover
{
  background-color: white;
  color: black;

}
.fa-hand-point-right, .fa-chevron-right
{
  margin-right: 8px;
color: #3178f5;
font-size: 1.2em;
}
.fa-chevron-right
{
  color:#ff5e6c;
  font-size: 0.8em;
}
.list-group
{
  box-shadow: 0 3px 20px 2px rgba(20, 45, 100, 0.1);
  border-radius: 10px;

}
.downloads,.upcoming_events{
  margin-top: 20px;
  border-radius: 10px;
  padding: 0;
}
.press_real_container
{
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 0;
  border-radius: 10px;
}
.right_part
{
  display: flex;
flex-direction: column;
justify-content: space-between;
}
.upcoming_events
{
  background-color: #f5f5f5;
}
.downloads
{
  background-color: #f5f5f5;
}
.director_msg{
  background-color:#f5f5f5;
  padding:20px 0;
}
.director_msg .image_part
{
  text-align: center;
}
.director_msg .image_part img
{
  width: 80%;
}
.director_msg .content_prt
{
  position: relative;
}
.btn-outline-primary
{
  background-color:#ff5e6c;
  color:  #f5f5f5;
  border: 1px solid  #f5f5f5;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  margin-top: 20px;
}
.btn-outline-primary a{
  color:  #f5f5f5;
}
.btn-outline-primary:hover{
  border: 1px solid#2F1728;
  background-color:#f5f5f5;
  
  box-shadow: 0 3px 20px 2px rgba(20, 45, 100, 0.2);
}
.btn-outline-primary:hover a{
  color: #2F1728;
  text-decoration: none;
}
.content_prt h3{
  text-align: center;
  margin: 20px 0;
}
.image_part img{
  border-radius: 10px;
}

@media only screen and (max-width: 450px) {
   a>img{
       width: 80%;
   }
   .navbar{  
    width: 100%;
}
.navbar-brand
{
    margin-right: 0px;
    max-width: 225px;
}
}
@media only screen and (max-width: 992px)
{
  .director_msg .image_part img
  {
    width: 50%;
  }
} 

  @media only screen and (max-width: 768px) {

    .press_content> .image-div
    {
      display: none;
    }
    .press_content>.date_with_cont
    {
      width: 100%;
    }
    .press_content>.date_with_cont>p
    {
      font-size: 0.8em;
    }
    .footer-contact{
      margin-bottom: 15px;
    }

  }
  @media only screen and (max-width: 580px) {
    .press_real_container{
      width: 95%;
      margin: 0 auto;
    }

  }
  @media only screen and (max-width: 500px){

    .aboutCon p,.content_prt p{
      font-size: 0.80em;
    }
    
    .section-title{
      margin-bottom: 0;
      padding-bottom: 5px;
    }
    .section-title h2,.content_prt h3{
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 400px)
  {
    .myTicker li{
      padding: 5px;
      height: 270px;
      }
      .build_photo>img{
        width: 80%;
      }
  }


  @media only screen and (max-width: 313px) {
      .navbar-brand
      {
          margin-right: 0px;
          max-width: 200px;
      }
}
@media only screen and (min-width: 1500px) 
{
  .container{
  max-width: 80%;
    margin: auto;
  }
  .right_part
{
  display: block;
}
}